{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_user_favorites/favorites
    Template for the favorites.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * hascurrenturl bool If current url is in user favorites
    * data array The list of favorites.

    Example context (json):
    {
        "hascurrenturl": false,
        "data": [
            {
                "url": "http://domain.com",
                "name": "Domain",
                "hash": "8277e0910d750195b448797616e091ad",
                "class": "active"
            },
            {
                "url": "http://domain2.com",
                "name": "Domain2",
                "hash": "8277e0910d750195b448797616e091ad",
                "class": ""
            }
        ]
    }
}}
<ol id="block_user_favorites-items" class="list">
    {{#data}}
        <li data-hash="{{hash}}">
            <i class="fa {{icon}} item-icon" data-drag-type="move" title="{{# str}} btn:drag, block_user_favorites {{/ str}}"></i>
            <a class="{{class}}" href="{{url}}">{{name}}</a>
            <div class="fa-menu-wrap">
                <i class="fa fa-ellipsis-v fa-menu-toggle" role="button" aria-haspopup="true" tabindex="0" title="更多操作"></i>
                <div class="fa-menu-dropdown" role="menu">
                    <div class="fa-menu-item favorite-move-up" role="menuitem">
                        <i class="fa fa-arrow-up"></i>
                        <span>上移</span>
                    </div>
                    <div class="fa-menu-item favorite-move-down" role="menuitem">
                        <i class="fa fa-arrow-down"></i>
                        <span>下移</span>
                    </div>
                    <div class="fa-menu-divider"></div>
                    <div class="fa-menu-item favorite-edit" role="menuitem">
                        <i class="fa fa-pen-to-square"></i>
                        <span>{{# str}} btn:edit, block_user_favorites {{/ str}}</span>
                    </div>
                    <div class="fa-menu-item favorite-remove" role="menuitem">
                        <i class="fa fa-xmark"></i>
                        <span>{{# str}} btn:remove, block_user_favorites {{/ str}}</span>
                    </div>
                </div>
            </div>
        </li>
    {{/data}}
</ol>
{{#pagination}}
{{#has_favorites}}
{{#hasspagination}}
{{#hasprev}}
<span class="fav-page-link" data-page="{{prevpage}}" title="上一页"><i class="fa fa-chevron-left"></i></span>
{{/hasprev}}
{{#pages}}
{{#isactive}}
<span class="fav-page-link active" data-page="{{page}}">{{page}}</span>
{{/isactive}}
{{^isactive}}
<span class="fav-page-link" data-page="{{page}}">{{page}}</span>
{{/isactive}}
{{/pages}}
{{#hasnext}}
<span class="fav-page-link" data-page="{{nextpage}}" title="下一页"><i class="fa fa-chevron-right"></i></span>
{{/hasnext}}
{{/hasspagination}}
{{/has_favorites}}
{{/pagination}}
<div class="block_user_favorites-control">
    {{^hascurrenturl}}
        <span class="btn btn-secondary" id="block_user_favorites_set">
            {{# str}} btn:add, block_user_favorites {{/ str}}
        </span>
    {{/hascurrenturl}}
    {{#hascurrenturl}}
        <span class="btn btn-secondary" id="block_user_favorites_delete">
            {{# str}} btn:delete, block_user_favorites {{/ str}}
        </span>
    {{/hascurrenturl}}
</div>